K_Nearest_Neighbors/.ipynb_checkpoints/KNN_OnData-checkpoint.ipynb 
'.ipynb_checkpoints' 
.ipynb_checkpoints 
btceUSD.csv

'hdfbuffering2.h5' 
'hdfbuffering.h5' 
hdfbuffering.h5 
hdfbuffering2.h5 
newdatabase.db 
